<li class="list-group-item d-flex flex-row justify-content-between align-items-center">
	<p class="description">
		{{description}}
	</p>

	{{#unless completed}}
		<button class="btn set-actions btn-outline-warning" data-id="{{id}}">
			Complete
		</button>
	{{/unless}}

</li>
