
<div class="jumbotron jumbotron-fluid" id="header">
  <div class="container">
    <h3 class="display-5">Play with your Tamagotchi!</h3>


    <div class="row justify-content-center align-items-end">
      <div class="col-md-4">
        <img src="/assets/img/Mimi.png" class="tama_img animated infinite bounce" alt="image">
      </div>
      <div class="col-md-4">
        <form class="create-action" action="/api/actions/" method="post">
          <textarea class="form-control" id="value" name="value" rows="1" required placeholder="Add an action"></textarea>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Add Action</button>
      </div>
        </form>
    </div>


  </div>
</div>

<div class="container">
  <div class="row justify-content-around">

    <div class="col-md-5">
      <h3>Actions to complete:</h3>
      <ul class="list-group">
        {{#each actions}}
        {{#unless completed}}
        {{> actions/actions-block}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-5">
      <p><h3>Completed actions:</h3></p>
      <ul class="list-group">
        {{#each actions}}
        {{#if completed}}
        {{> actions/actions-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div> <!-- End Row -->
</div>

<footer class="" id="footer">
  <div class="container">
    <br><h9><p>&copy Michelle Hamdani</p></h9>
  </div>
</footer>
