button[type="submit"] {
  box-shadow: 1px 1px 11px #110c08;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

button {
  cursor: pointer;
  color: hotpink;
}

#footer {
  color: slategray;
  font-size: 10px;
  font-weight: lighter;
}

.tama_img {
  width: 50%;
  margin-left: 40px;
}

.jumbotron, .parallax {
  background-image: url(/assets/img/backsky.jpg);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.set-actions {
  color: hotpink;
  border-color: #ff99cc;
}

.set-actions:hover {
  background-color: #99ccff;
  border-color: #99ccff;
}
/*.btn-outline-warning {
  border-color: #ff99cc;
}*/
