button[type="submit"] {
  box-shadow: 1px 1px 11px #110c08;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

button {
  cursor: pointer;
  color: hotpink;
}

#footer {
  color: slategray;
  font-size: 10px;
  font-weight: lighter;
}

.tama_img {
  width: 30%;
  margin-left: 40px;
}

.jumbotron {
  background-image: url(/assets/img/backsky.jpg);
}
